#admin-page {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	>.panel {
		flex: 1;
		margin: 10px;
	}

	#users-management-content {
		padding: 20px;
		box-sizing: border-box;
		overflow: auto;
	}

	#listing-wrapper {
		max-height: 400px;
		overflow: hidden;
		border-radius: 10px;
		margin: 10px;
	}

	.listing {
		box-sizing: border-box;
		background-color: $grey_dark_light;
		overflow-y: auto;
		max-height: 400px;

		.listing-item {
			padding: 10px;
			display: flex;
			align-items: center;

			span {
				margin-right: auto;
			}

			.button-icon {
				margin: 5px;
			}
		}
	}

	#tournament-form {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#create-tournament-button {
		align-self: center;
		margin: 10px;
	}
}
