#auth-panel-container {
	position: relative;
}

#auth-panel {
	position: relative;
	display: flex;
	height: 600px;
	max-width: 1400px;
	margin: auto;
	transition: 1s ease all;
	div {
		flex: 1;
	}
	> div:nth-child(1) {
		position: relative;
		background-color: $grey_dark_light;
		.auth-bubble {
			position: absolute;
			border-radius: 100%;
			background-color: $grey_dark;
			z-index: 2;
			animation: bubble-animation 5s ease;
		}
		img {
			position: absolute;
			height: 80%;
			width: auto;
			bottom: 0;
			left: 0;
			z-index: 3;
			animation: illustration-animation 3s ease;
		}
	}
	> div:nth-child(2) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		text-align: center;
		h2 {
			font-weight: 400;
		}
	}
	svg {
		position: absolute;
		left: 50%;
		top: 0;
		height: 600px;
		transform: translateX(-50%) translateX(10px);
		z-index: 0;
		pointer-events: none;
	}
}

.auth-panel-secondary {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s ease all;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	#auth-register-card {
		background-color: $grey_dark;
		border-radius: 10px;
		margin: 20px;
		margin-top: 40px;
		position: relative;
		padding: 20px;
		padding-top: 60px;
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		img {
			border-radius: 100%;
			width: 100px;
			height: auto;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, -50%);
		}
		.button {
			align-self: center;
		}
		.input-wrapper {
			align-self: stretch;
		}
	}
}

.auth-panel-open {
	transform: translateY(-100%);
	opacity: 1 !important;
}

@keyframes bubble-animation {
	from {
		transform: translateY(1000%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes illustration-animation {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}