#home-section {
	align-self: stretch;
	display: flex;
	> .panel {
		flex: 1;
		margin: 20px;
	}
	h1 {
		text-align: center;
		position: relative;
		
	}
	.game-item {
		display: flex;
		align-items: center;
		padding: 20px;
		font-size: $m;
		background-color: $grey_dark_light;
		span {
			margin-left: 10px;
			color: $grey-accent;
			font-size: $m;
		}
		b {
			font-size: $m;
		}
		.button-icon {
			margin-left: auto;
			svg {
				font-size: $m;
			}
		}
	}
}