@import './variables.scss';
@import './game.scss';
@import './menu.scss';
@import './notification-panel.scss';
@import './test.scss';
@import './home-page.scss';
@import './chat.scss';
@import './auth.scss';
@import './user-page.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $grey_dark;
	font-size: 16px;
}

*:focus {
	outline: none;
}

* {
	font-family: 'Montserrat';
	color: white;
}

a {
	text-decoration: none;
}

/*
- Panel -------------------------------------------------------------------------------------------------------------------
*/

.panel {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color: $grey;
	overflow: hidden;
}

.panel-blue {
	background-color: $blue;
}

.panel-header {
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: $xl;
}

/*
- Buttons -------------------------------------------------------------------------------------------------------------------
*/

.button-icon {
	position: relative;
	cursor: pointer;
	transition: .3s ease all;
}

.button-icon:hover {
	transform: scale(1.2);
}

.button-icon span, .button-icon svg {
	font-size: $xl;
}

.button-icon-accent {
	background-color: $blue;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-icon-big {
	width: 60px;
	height: 60px;
}

.button-icon-big svg, .button-icon-big i {
	font-size: $xl;
}

.button {
	background-color: $blue;
	padding: 10px;
	border-radius: 10px;
	border: none;
	display: flex;
	align-items: center;
	font-weight: 800;
	font-size: $m;
	width: auto;
	flex: 0;
	cursor: pointer;
	transition: .3s ease all;
	img {
		height: 40px;
		width: auto;
		margin-right: 10px;
	}
}

.button:hover {
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*
- Background waves -------------------------------------------------------------------------------------------------------------------
*/

#background-waves {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#wave-1, #wave-2, #wave-3 {
	position: absolute;
	bottom: 0;
	right: 0;
}

#wave-1 {
	width: 33%;
}

#wave-2 {
	width: 100%;
}

#wave-3 {
	width: 70%;
}

/*
- Logo ----------------------------------------------------------------------------------------
*/
#logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	margin-top: 20px;
	animation: logo-anim 2s ease 0s infinite alternate;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

@keyframes logo-anim {
	from {
		transform: translateX(-50%) translateY(20px);
	}
	to {
		transform: translateX(-50%) translateY(0px);
	}
}

/*
- Upper right menu ----------------------------------------------------------------------------
*/
#upper-right-menu {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	svg {
		font-size: $xl;
	}
}

#user-menu, #notifications-menu {
	margin: 10px;
}

/*
- Toasts -------------------------------------------------------------------------------------
*/
.toast-error {
	background: none;
	background-color: $red;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: $m;
}

.toast-success {
	background: none;
	background-color: $blue;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: $m;
}

/*
- Badge -------------------------------------------------------------------------------------
*/
.badge {
	position: absolute;
	top: 15px;
	right: 0;
	background-color: $red;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	font-size: $m !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
- Page ---------------------------------------------------------------------------------------
*/
#page {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	overflow-y: auto;
	// display: flex;
	// align-items: center;
	// justify-content: center;
}

/*
- Inputs ---------------------------------------------------------------------------------------
*/
.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 10px;
	background-color: $grey_dark_light;
	border-radius: 10px;
	border: none;
}

.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}