<div id="admin-page">
	<div class="panel" id="users-management-panel">
		<div class="panel-header">
			<span>Community management</span>
		</div>
		<div id="users-management-content">
			<div class="input-wrapper">
				<span>Ban a user</span>
				<div class="input-row">
					<input type="text" placeholder="Login of the user" id="ban-login-input" />
					<input type="number" placeholder="Duration of the ban in minutes" id="ban-time-input" />
					<div class="button">
						<span id="ban-button">Ban</span>
					</div>
				</div>
			</div>
			<div class="input-wrapper">
				<span>Channels</span>
				<div id="channels-listing-wrapper">
					<div id="channels-listing"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel" id="tournament-management-panel">
		<div class="panel-header">
			<span>Create a tournament</span>
		</div>
	</div>
</div>