<div id="admin-page">
  <div class="panel" id="users-management-panel">
    <div class="panel-header">
      <span>Community management</span>
    </div>
    <div id="users-management-content">
      <div class="input-wrapper">
        <span>Admins</span>
        <div id="listing-wrapper">
          <div class="listing" id="admins"></div>
        </div>
        <div class="input-row">
          <input
            type="text"
            placeholder="Login of the user"
            id="admin-login-input"
          />
          <div class="button" id="admin">
            <span>Add</span>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <span>Ban a user</span>
        <div class="input-row">
          <input
            type="text"
            placeholder="Login of the user"
            id="ban-login-input"
          />
          <input type="number" placeholder="Minutes" id="ban-time-input" />
          <div class="button" id="ban">
            <span>Ban</span>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <span>Channels</span>
        <div id="listing-wrapper">
          <div class="listing" id="channels"></div>
        </div>
      </div>
      <div class="input-wrapper">
        <span>Guilds</span>
        <div id="listing-wrapper">
          <div class="listing" id="guilds"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel" id="tournament-management-panel">
    <div class="panel-header">
      <span>Create a tournament</span>
    </div>
    <div id="tournament-form">
      <div class="input-wrapper">
        <span>Tournament name</span>
        <input
          type="text"
          placeholder="Monthly tournament #2"
          id="tournament-name-input"
        />
      </div>
      <!-- <div class="input-row"> -->
      <div class="input-wrapper">
        <span>Registration start</span>
        <input type="datetime-local" id="registration-start-input" />
      </div>
      <div class="input-wrapper">
        <span>Tournament start</span>
        <input type="datetime-local" id="tournament-start-input" />
      </div>
      <div class="input-wrapper">
        <span>Title</span>
        <input type="text" placeholder="SMASHER" id="tournament-title-input" />
      </div>
      <!-- </div> -->
      <div class="button" id="create-tournament-button">
        <span>Create</span>
      </div>
    </div>
  </div>
</div>
