<div id="admin-page">
	<div class="panel" id="users-management-panel">
		<div class="panel-header">
			<span>Community management</span>
		</div>
		<div id="users-management-content">
			<div class="input-wrapper">
				<span>Ban a user</span>
				<div class="input-row">
					<input type="text" placeholder="Login of the user" id="ban-login-input" />
					<input type="number" placeholder="Minutes" id="ban-time-input" />
					<div class="button">
						<span id="ban-button">Ban</span>
					</div>
				</div>
			</div>
			<div class="input-wrapper">
				<span>Channels</span>
				<div id="channels-listing-wrapper">
					<div id="channels-listing"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel" id="tournament-management-panel">
		<div class="panel-header">
			<span>Create a tournament</span>
		</div>
		<div id="tournament-form">
			<div class="input-wrapper">
				<span>Tournament name</span>
				<input type="text" placeholder="Monthly tournament #2" id="tournament-name-input" />
			</div>
			<div class="input-row">
				<div class="input-wrapper">
					<span>Registration time</span>
					<input type="number" placeholder="In minutes" id="tournament-time-input" />
				</div>
				<div class="input-wrapper">
					<span>Reward</span>
					<input type="number" placeholder="Points" id="tournament-reward-input" />
				</div>
			</div>
			<div class="button" id="create-tournament-button">
				<span>Create</span>
			</div>
		</div>
	</div>
</div>