<div id="game-panel">
	<div class="panel game-choose-panel">
		<div class="panel-header">
			<span>Normal game</span>
		</div>
		<p>Find a player for a classical game.</p>
		<button id="game-normal" class="game-choose-btn">
			Find normal game
		</button>
	</div>
	<div class="panel game-choose-panel">
		<div class="panel-header">
			<span>Ranked game</span>
		</div>
		<p>Find a player for a ranked game.</p>
		<button id="game-ranked" class="game-choose-btn">
			Find ranked game
		</button>
	</div>
</div>
<div class="panel" style="
padding-right:10px; 
overflow-x: hidden; 
overflow-y: auto; 
text-align:justify; ">
	<ul>
		<li>
			<h3>Normal games:</h3>
			<p>
				The game rules are simple. Two players will compete in 1vs1, the objective of each is to send the ball behind the other player.
				If one of the two players sends the ball behind the other then he wins a point. The first at 11 points wins.
			</p>
		</li>
		<li>
			<h3>Ranked games:</h3>
			<p>
				Same rules than normal games. But here you will win and lose points depending on the range difference with the opponent.
				This points are used to get your place on the ladder.
			</p>
		</li>
	</ul>
</div>