<div id="guild-page">
	<div class="panel" id="guild-identity">
		<div class="panel-header">
			<span>International killers team</span>
		</div>
		<div id="guild-actions">
			<div class="button-icon">
				<i class="fas fa-sign-in-alt"></i>
			</div>
			<div class="button-icon">
				<i class="fas fa-bomb"></i>
			</div>
		</div>
		<div id="guild-identity-layout">
			<div id="guild-points">
				<div class="guild-info">
					<span>Points</span>
					<span>4254</span>
				</div>
			</div>
			<div id="guild-infos">
				<div class="guild-info">
					<span>Anagram</span>
					<span>INAKL</span>
				</div>
				<div class="guild-info">
					<span># of users</span>
					<span>5</span>
				</div>
				<div class="guild-info">
					<span># of wars</span>
					<span>2</span>
				</div>
			</div>
		</div>
	</div>
	<div id="guild-lower-panels">
		<div class="panel" id="guild-war-history">
			<div class="panel-header">
				<span>War history</span>
			</div>
		</div>
		<div class="panel" id="guild-users">
			<div class="panel-header">
				<span>Users</span>
			</div>
			<div id="guild-users-list"></div>
		</div>
	</div>
</div>