<div id="guilds-page">
	<div id="guilds" class="panel">
		<div class="panel-header">
			<span>Guilds</span>
		</div>
		<div id="guilds-listing"></div>
	</div>
	<div class="panel">
		<div class="panel-header">
			<span>Create your guild</span>
		</div>
		<div id="guilds-create-form">
			<div class="input-wrapper">
				<span>Name</span>
				<input type="text" placeholder="Your awesome guild" id="name-input" />
			</div>
			<div class="input-wrapper">
				<span>Anagram (5 letters)</span>
				<input type="text" placeholder="YAMGI" id="anagram-input" />
			</div>
			<div class="button">
				<span id="guild-create-button">Create</span>
			</div>
		</div>
	</div>
</div>