<div id="guild-page">
	<div class="panel" id="guild-identity">
		<div class="panel-header">
			<span><%= !!guild ? guild.get('name') : '...' %></span>
		</div>
		<div id="guild-actions">
			<div id="join_guild" class="button-icon">
				<i class="fas fa-sign-in-alt"></i>
			</div>
			<div class="button-icon">
				<i class="fas fa-bomb"></i>
			</div>
		</div>
		<div id="guild-identity-layout">
			<div id="guild-points">
				<div class="guild-info">
					<span>Points</span>
					<span><%= !!guild ? guild.get('score') ?? 0 : '...' %></span>
				</div>
			</div>
			<div id="guild-infos">
				<div class="guild-info">
					<span>Anagram</span>
					<span><%= !!guild ? guild.get('anagram') : '...' %></span>
				</div>
				<div class="guild-info">
					<span># of users</span>
					<span>5</span>
				</div>
				<div class="guild-info">
					<span># of wars</span>
					<span>2</span>
				</div>
			</div>
		</div>
	</div>
	<div id="guild-lower-panels">
		<div class="panel" id="guild-war-history">
			<div class="panel-header">
				<span>War history</span>
			</div>
			<div id="guild-history-list">
				<div class="history-item">
					<span><b>International killers team</b> vs Test team</span>
					<span class="history-win">Win</span>
				</div>
				<div class="history-item">
					<span><b>Dev team</b> vs International killers team</span>
					<span class="history-loss">Loss</span>
				</div>
			</div>
		</div>
		<div class="panel" id="guild-users">
			<div class="panel-header">
				<span>Users</span>
			</div>
			<div id="guild-users-list"></div>
		</div>
	</div>
</div>