<div id="guilds-page">
	<div id="guilds" class="panel">
		<div class="panel-header">
			<span>Guilds</span>
		</div>
		<div id="guilds-listing"></div>
	</div>
	<div class="panel">
		<% if (!isInGuild) { %>
		<div class="panel-header">
			<span>Create your guild</span>
		</div>
		<div id="guilds-create-form">
			<div class="input-wrapper">
				<span>Name</span>
				<input type="text" placeholder="Your awesome guild" id="name-input" />
			</div>
			<div class="input-wrapper">
				<span>Anagram (5 letters)</span>
				<input type="text" placeholder="YAMGI" id="anagram-input" />
			</div>
			<div class="button">
				<span id="guild-create-button">Create</span>
			</div>
		</div>
		<% } else if (!isInWar) { %>
		<div class="panel-header">
			<i class="fas fa-bomb"></i>
			<span>War zone</span>
		</div>
		<div id="guilds-create-form">
			<div class="input-wrapper">
				<span>Opponent guild's anagram</span>
				<input type="text" placeholder="Other guild's 5 letter anagram" id="anagram-input" />
			</div>
			<div class="input-wrapper">
				<span>Stake</span>
				<input type="number" placeholder="The amount your guild will win/lose" id="stake-input" />
			</div>
			<div class="input-wrapper">
				<span>Max unanswered games</span>
				<input type="number" placeholder="Leave empty for no limit" id="max-input" min="1"/>
			</div>
			<div class="input-row">
				<div class="input-wrapper">
					<span>Start date</span>
					<input type="text" placeholder="War start date" id="war-start-date"/>
				</div>
				<div class="input-wrapper">
					<span>End date</span>
					<input type="text" placeholder="War end date" id="war-end-date"/>
				</div>
			</div>
			<div class="input-row">
				<div class="input-wrapper">
					<span>War time start</span>
					<input type="text" placeholder="War time start" id="war-time-start"/>
				</div>
				<div class="input-wrapper">
					<span>War time end</span>
					<input type="text" placeholder="War time end" id="war-time-end"/>
				</div>
			</div>
			<div class="button">
				<span id="guild-war-button">Declare war</span>
			</div>
		</div>
		<% } else { %>
		<div class="panel-header">
			<i class="fas fa-bomb"></i>
			<span>War zone</span>
		</div>
		<div id="current-war-wrapper">
			<p>War in progress...</p>
		</div>
		<% } %>
	</div>
</div>