<!-- The global layout on every page (menu, top-right menu, logo, backgruond...) -->

<!-- Menu-->
<div>
	<div class="panel panel-blue" id="menu">
		<a class="button-icon" href="#home/">
			<div class="menu-hover">
				<span>Home</span>
			</div>
			<i class="fas fa-home"></i>
		</a>
		<a class="button-icon" href="#guilds/">
			<div class="menu-hover">
				<span>Guilds</span>
			</div>
			<i class="fas fa-users"></i>
		</a>
		<a class="button-icon" href="#game/">
			<div class="menu-hover">
				<span>Direct game</span>
			</div>
			<i class="fas fa-gamepad"></i>
		</a>
		<a class="button-icon" href="#tournaments/">
			<div class="menu-hover">
				<span>Tournament</span>
			</div>
			<i class="fas fa-list-ol"></i>
		</a>
	</div>
</div>

<!-- Logo -->
<svg xmlns="http://www.w3.org/2000/svg" width="237" height="97" viewBox="0 0 237 97" id="logo">
	<g id="Logo" transform="translate(-876 -25)">
	  <text id="PONG" transform="translate(876 100)" fill="#5b78fd" font-size="75" font-family="Montserrat-ExtraBold, Montserrat" font-weight="800"><tspan x="0" y="0">PONG</tspan></text>
	  <circle id="Ellipse_1" data-name="Ellipse 1" cx="30.5" cy="30.5" r="30.5" transform="translate(934 45)" fill="#fff"/>
	  <text id="P" transform="translate(876 100)" fill="#5b78fd" font-size="75" font-family="Montserrat-ExtraBold, Montserrat" font-weight="800"><tspan x="0" y="0">P</tspan></text>
	  <rect id="Rectangle_10" data-name="Rectangle 10" width="83" height="11" transform="translate(881 25)" fill="#f421a2"/>
	  <rect id="Rectangle_11" data-name="Rectangle 11" width="83" height="11" transform="translate(1026 111)" fill="#f421a2"/>
	</g>
  </svg>
  

<!-- Upper-right menu, will be filled by Backbone views -->
<div id="upper-right-menu">
	<div id="user-menu"></div>
	<div id="notifications-menu"></div>
</div>

<!-- Chat panel -->
<div id="chat-container"></div>

<!-- Waves in background -->
<div id="background-waves">
	<img src="../assets/bg-3.svg" alt="" id="wave-3">
	<img src="../assets/bg-2.svg" alt="" id="wave-2">
	<img src="../assets/bg-1.svg" alt="" id="wave-1">
</div>

<!-- The page content -->
<div id="page"></div>