<% notifs.forEach(item => { %>
	<div class="notification">
		<span><%= item.title %></span>
		<div class="notification-controls">
			<div class="button-icon button-icon-accent notification-accept" notification-id="<%= item.type %>-<%= item.id %>-<%= item.name %>-<%= item.req_id %>"><i class="fas fa-check"></i></div>
			<div class="button-icon notification-delete" notification-id="<%= item.type %>-<%= item.id %>-<%= item.name %>-<%= item.req_id %>"><i class="fas fa-times"></i></div>
		</div>
	</div>
<% }) %>