<div id="user-page-container">
	<div class="panel" id="top-panel">
		<img src="https://randomuser.me/api/portraits/men/9.jpg">
		<div id="top-panel-container">
			<div id="user-ladder">
				<span>#2</span>
				<span>on the ladder</span>
			</div>
			<div id="user-name-container">
				<span>Romain</span>
				<div id="user-name-buttons">
					<div class="button-icon"><i class="fas fa-user-plus"></i></div>
					<div class="button-icon"><i class="fas fa-gamepad"></i></div>
					<div class="button-icon"><i class="far fa-comment"></i></div>
				</div>
			</div>
			<div id="user-name-infos">
				<div class="user-info">
					<span>Guild</span>
					<span>International killers</span>
				</div>
				<div class="user-info">
					<span># of tournaments</span>
					<span>2</span>
				</div>
				<div class="user-info">
					<span>Login</span>
					<span>rchallie</span>
				</div>
			</div>
		</div>
		<div id="user-level-container">
			<span>75% winrate</span>
			<div id="user-progress-container">
				<div id="user-progress-container-fill" style="width: 75%;">
					<span>3 wins</span>
				</div>
				<div id="user-progress-container-free-space">
					<span>1 loss</span>
				</div>
			</div>
		</div>
	</div>
	<div id="user-page-bottom-container">
		<div class="panel" id="history-panel">
			<div class="panel-header"><span>History</span></div>
			<div id="history-panel-content">
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>0</span> Tom<span class="history-item-info"> - war game</span></span>
					<span class="history-item-win">Win</span>
				</div>
				<div class="history-item">
					<span>Romain <span>2</span> - <span class="history-item-win">3</span> <b>Fredrika</b><span class="history-item-info"> - direct game</span></span>
					<span class="history-item-loss">Loss</span>
				</div>
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>0</span> Mathis<span class="history-item-info"> - ladder game</span></span>
					<span class="history-item-win">Win</span>
				</div>
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>1</span> Manu<span class="history-item-info"> - direct game</span></span>
					<span class="history-item-win">Win</span>
				</div>
			</div>
		</div>
		<div class="panel" id="friends-panel">
			<div class="panel-header"><span>Friends</span></div>
			<div id="friends-panel-content">
				<div class="friend-item">
					<img src="https://randomuser.me/api/portraits/men/8.jpg" onclick="window.location.hash='user/emacron/'"/>
					<b class="friend-name" onclick="window.location.hash='user/emacron/'">Manu</b>
					<span class="friend-status friend-status-online">online</span>
					<span class="button-icon"><i class="far fa-comment"></i></span>
					<span class="button-icon button-icon-accent"><i class="fas fa-gamepad"></i></span>
				</div>
				<div class="friend-item">
					<img src="https://randomuser.me/api/portraits/men/18.jpg" onclick="window.location.hash='user/rchallie/'"/>
					<b class="friend-name" onclick="window.location.hash='user/rchallie/'">Romain</b>
					<span class="friend-status">offline</span>
				</div>
			</div>
		</div>
	</div>
</div>