<div id="user-page-container">
	<div class="panel" id="top-panel">
		<img <%= data.avatar_url ? `src="${data.avatar_url}"` : "" %> class="<%=data.relation_to_user === "current_user" ? "avatar-current-user" : ""%>">
		<input type="file" id="avatar-file" accept="image/*" />
		<div id="top-panel-container">
			<% if (data.relation_to_user === "friends") { %><div id="user-friend-badge"><div class="user-friend-overlay"><i class="fas fa-users-slash"></i></div><i class="fas fa-user-friends"></i> Friend</div><% } %>
			<% if (data.relation_to_user === "request sent") { %><div id="user-friend-badge"><div class="user-friend-overlay"><i class="fas fa-users-slash"></i></div><i class="fas fa-hourglass-start"></i> Friend request sent</div><% } %>
			<div id="user-ladder">
				<span>#<%= data.ladder_ranking %></span>
				<span>on the ladder</span>
			</div>
			<div id="user-name-container">
				<span <%= data.relation_to_user === "current_user" ? "class=\"user-editable-field\"" : "" %>><%= data.username || "..." %><%= data.relation_to_user === "current_user" ? "<div class=\"button-icon\" id=\"edit-username\"><i class=\"fas fa-user-edit\"></i></div>" : "" %></span>
				<div id="user-name-buttons">
					<% if (!data.relation_to_user) { %><div id="user-add-friend" class="button-icon"><i class="fas fa-user-plus"></i></div> <% } %> 
					<div class="button-icon"><i class="fas fa-gamepad"></i></div>
					<div class="button-icon message-button" id="message-<%= data.login %>"><i class="far fa-comment"></i></div>
					<% if (data.relation_to_user !== "current_user") { %>
						<div class="button-icon" id="<%= data.id %>"><i class="fas fa-ban" id="<%= data.blocked ? `un` : `` %>block-button" title="<%= data.blocked ? `un` : `` %>block"></i></div> 
						<%  } %>
				</div>
			</div>
			<div id="user-name-infos">
				<div class="user-info">
					<span>Guild</span>
					<span><%= data.guild ? data.guild.name : "None" %></span>
				</div>
				<div class="user-info">
					<span># of tournaments</span>
					<span>2</span>
				</div>
				<div class="user-info">
					<span>Login</span>
					<span><%= data.login || "..." %></span>
				</div>
			</div>
		</div>
		<div id="user-level-container">
			<span><%= !(data.wins + data.losses) ? "50" : Math.round(data.wins / (data.wins + data.losses) * 100) %>% winrate</span>
			<div id="user-progress-container">
				<div id="user-progress-container-fill" style="width: <%= !(data.wins + data.losses) ? "50" : Math.round(data.wins / (data.wins + data.losses) * 100) %>%;<%= !data.wins && data.losses ? "display: none;" : ""%>">
					<span><%= data.wins %> wins</span>
				</div>
				<div id="user-progress-container-free-space" style="<%= !data.losses && data.wins ? "display: none;" : ""%>">
					<span><%= data.losses %> loss</span>
				</div>
			</div>
		</div>
	</div>
	<div id="user-page-bottom-container">
		<div class="panel" id="history-panel">
			<div class="panel-header"><span>History</span></div>
			<div id="history-panel-content">
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>0</span> Tom<span class="history-item-info"> - war game</span></span>
					<span class="history-item-win">Win</span>
				</div>
				<div class="history-item">
					<span>Romain <span>2</span> - <span class="history-item-win">3</span> <b>Fredrika</b><span class="history-item-info"> - direct game</span></span>
					<span class="history-item-loss">Loss</span>
				</div>
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>0</span> Mathis<span class="history-item-info"> - ladder game</span></span>
					<span class="history-item-win">Win</span>
				</div>
				<div class="history-item">
					<span><b>Romain</b> <span class="history-item-win">3</span> - <span>1</span> Manu<span class="history-item-info"> - direct game</span></span>
					<span class="history-item-win">Win</span>
				</div>
			</div>
		</div>
		<div class="panel" id="friends-panel">
			<div class="panel-header"><span>Friends</span></div>
			<div id="friends-panel-content"></div>
		</div>
	</div>
</div>
