@import './variables.scss';
@import './menu.scss';
@import './notification-panel.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $grey_dark;
}

*:focus {
	outline: none;
}

* {
	font-family: 'Montserrat';
	color: white;
	font-size: $s;
}

a {
	text-decoration: none;
}

.panel {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color: $grey;
}

.panel-blue {
	background-color: $blue;
}

.button-icon {
	position: relative;
	cursor: pointer;
}

.button-icon span {
	font-size: $m;
}

.button-icon-accent {
	background-color: $blue;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
- Background waves -------------------------------------------------------------------------------------------------------------------
*/

#background-waves {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#wave-1, #wave-2, #wave-3 {
	position: absolute;
	bottom: 0;
	right: 0;
}

#wave-1 {
	width: 33%;
}

#wave-2 {
	width: 100%;
}

#wave-3 {
	width: 70%;
}

/*
- Logo ----------------------------------------------------------------------------------------
*/
#logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	margin-top: 20px;
}

/*
- Upper right menu ----------------------------------------------------------------------------
*/
#upper-right-menu {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
}

#user-menu, #notifications-menu {
	margin: 10px;
}

/*
- Toasts -------------------------------------------------------------------------------------
*/
.toast-error {
	background: none;
	background-color: $red;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: $xs;
}

.toast-success {
	background: none;
	background-color: $blue;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: $xs;
}

/*
- Badge -------------------------------------------------------------------------------------
*/
.badge {
	position: absolute;
	top: 15px;
	right: 0;
	background-color: $red;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	font-size: $xxs;
	display: flex;
	align-items: center;
	justify-content: center;
}