/* Color palette and font sizes of the website */

$grey_dark: #070B1D;
$grey: #1F2231;
$grey_light: #2D3146;
$grey_accent: #BCBCBC;
$blue: #5B78FD;
$red: #F421A2;

$xl: 3.157rem;
$l: 2.369rem;
$m: 1.777rem;
$s: 1.333rem;
$xs: 1rem;
$xxs: 0.75rem;